*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@-ms-viewport{
  width: device-width;
}

body,html{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-image: url(../images/back3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.wrapper{
	margin: auto; 0;
	max-width: 840px;
}

.main-background{
	background-color: #fff;
}

header h1{
	text-align: center;
	font-size: 38px;
	display: block;
	margin-top: 48px;
}

.SearchBox{
	text-align: center;
	padding: 20px;
}

.txtfind{
	display: inline-block;
	font-family:Verdana;
	font-size: 16px;
	width: 80%;
	outline: none;
	border: 1px solid #ddd;
	padding: 12px 20px 12px 40px;
  	background-position: 10px 10px; 
  	background-repeat: no-repeat;
	background-image: url('../images/link.png');
	transition:0.6s ease;
	color: #444;
}

.txturl{
	max-width: 480px;
}

.txtfind{
	border-left: 6px solid #478f00;
}

.findBtn{
	outline: none;
	border: 1px solid #ddd;
	vertical-align: top;
	font-family:Arial;
	font-size: 16px;
	display: inline-block;
	padding: 9.5px 20px;
	background-color: #ddd;
	color: #111;
	cursor: pointer;
	font-weight: 600;
	margin: 0;
	color: #555;
	outline: none;
}

.findBtn:hover{
	background-color: #ccc;
}

.note-error{
	background-color: #eee;
	color: #555;
	padding: 8px 12px;
}

.pad{margin: 8px;}
.pad-top{
	margin-top: 60px;
	margin-bottom: 60px;
}

.pad-row-small{
	padding-top: 8px;
	padding-bottom: 8px;
}

@media screen and (max-width: 412px) {
	.txtfind{
		width: 100%;
		margin-bottom: 8px;
	}
	.findBtn{
		display: block;
		width: 100%;
	}
	.note-error{
		text-align: center;
		margin: 4px;
	}
	h1 span{
		font-size: 28px;
	}
}

h1 span{
	border-top: 6px solid #478f00;
	background-color: #fff;
	padding: 8px 20px;
}

p span{
	background-color: #555;
	color: #fff!important;
	padding: 8px 16px;
}

.dm-center{
	text-align: center;
}

h1{
	text-align: center;
	font-size: 48px;
	color: #888;
	font-weight: 300;
}

.panel{
	padding: 15px;
	background-color: #fff;
}

.img-ico{
	vertical-align: middle;
	padding-right: 4px;
}

.icon div{
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 4px 1px 4px 0;
	opacity: .4;
}

.facebook{
	background: url('../images/icons.png') 0 0;
}
.twitter{
	background: url('../images/icons.png') 320px 0;
}
.youtube{
	background: url('../images/icons.png') 256px 0;
}
.rss{
	background: url('../images/icons.png') 192px 0;
}
.pinteres{
	background: url('../images/icons.png') 128px 0;
}
.google{
	background: url('../images/icons.png') 64px 0;
}

.facebook:hover,.twitter:hover,.youtube:hover,.rss:hover,.pinteres:hover,.google:hover{
	border-radius:4px;	
	opacity: 1;
}

.Social-bar{
	border-top: 6px solid #478f00;
	background-color: #fff;
	padding: 16px;
	margin-top: 13px;
	margin-bottom: 13px;
}
